@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --other-color: #2196f3;
    --white-color: #ffffff;
    --dark-bg-color:  #2f303a;
    --light-bg-color: #f5f4f4;
    --btn-bg-color:#f5f4fa;
    --footer-lnk-color:rgba(255, 255, 255, 0.6);  
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
html{
    box-sizing: border-box;
}
img{
    display: block;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.header{

}

body{
    font-family: "Roboto" ,"sans-serif";
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* FLEX */


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26 );
    letter-spacing: 0.03em;
    color: var(--other-color);
}

.nav-lnk{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.nav-lnk:focus,
.nav-lnk:hover{
    color: var(--other-color);
}

.active{
    color: var(--other-color);
}

.header-contact-lnk{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-contact-lnk:hover,
.header-contact-lnk:focus{
    color: var(--other-color);
}

.page-header{
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 125px;
}

.disp-flex-nav{
    display: flex;
    justify-content: space-between;
    
}

/* HERO */
.hero-section{
    background-color: var(--dark-bg-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    width: 657px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 10px 20px 10px20px;
}   

.hero-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--white-color);
    cursor: pointer;
    background-color: var(--other-color);
}
.bordr{
    border-radius: 4px;
    margin-top: 31px;
    margin-left: 500px;
    margin-bottom: 200px;

}


.hero-btn:hover,
.hero-btn:focus{
    background-color: darkblue;
    color: yellow;
}
/* WHAT WE DO SECTION */
.what-we-do-tittle{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.what-we-do,
.what-we-do-item{
    display: flex; 
    margin-top: -30pxs; 
}

.what-we-do-item{
    width: 249px;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* SKILLS SECTION */
.skills-header{
    vertical-align: Center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.skills-sec-tittle{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em; 
    color: var(--main-text-color);
}

.skills-sec-text{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.skills-list-item{
    margin-top: 30px;
    margin-left: 30px;
    width: 249px;
    display: flex;
}

.algn-itm{
    align-items: center;
}
/* TEAM SECTION */

.team-header{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.team{
    background-color: var(--light-bg-color);
    display: flex;
    margin-top: -30px;
    justify-content:space-between ;
}


.team-item{
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 1px 1px var(--light-bg-color);
}
.team-des{

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16); 
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
}
.team-text{ 
    font-style: medium;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
    text-align: center;

}

   
/* PORTFOLIO SECTION */
.portfolio-btn{
    display: flex;
    justify-content: center;
}
.portfolio-btn-item{
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    cursor: pointer;
    border: none;
    background-color: var(--btn-bg-color);
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus{
    background-color: var(--other-color);
    color: var(--white-color);  
}

.portfolio-des{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);  
    letter-spacing: 0.06em;
    color: var(--main-text-color); 
    text-align: left;
    margin: 0 24px;
    padding: 0;
    margin-bottom: 24px;

}

.portfolio-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: left;
    margin: 0 24px;
    padding: 0;
    margin-bottom: 24px;

}

.port-disp-flex{
    width: 249;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 1px 1px gray;
    border-color: var(--secondary-text-color); 
}
.port-item{
    margin-top: 30px;
    margin-bottom: 30px;
}


/* FOOTER */
.address{
    color: var(--white-color);
}

.footer{
    background-color: var(--dark-bg-color);
    color: var(--secondary-text-color);
}
.footer{
    padding-left: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-lnk{
   font-style: normal;
   font-size: 14px;
   line-height: calc(24/14);
   letter-spacing: 0.03em;
   vertical-align: top;
   color:var(--footer-lnk-color);
}



